<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello, <%= @user.username %></h1>
<p>
  A request has been made to reset password for your <b>Mafia</b> account. If you haven't made this request, disregard this email. <br/>
  <br/>
  If you wish to reset your password, click <a href="<%= @url %>">here</a>. <br/>
  <br/>
  Link will immediately log you in on the game site and also send the new credentials to this email address. <br/>
  <br/>
  We recommend that you change your newly received password as soon as possible for your own security. Try not to forget it this time, OK?
</p>

</body>
</html>