<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello, <%= @user.username %></h1>
<p>
  You have successfully reset your Mafia account password.<br/>
  <br/>
  Your username is: <b><%= @user.username %></b>.<br/>
  Your new password is: <b><%= @password %></b>.
</p>
<br/>
<p>
  To play, just follow this <a href="<%= @url %>">link</a>.
</p>
</body>
</html>